<!DOCTYPE html>
<html>
<head>
    <title>Lugares Turísticos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/" class="sub">Inicio</a></li>

                {% if user.is_authenticated %}
                    <li class="sub welcome-message">¡Bienvenido<span> {{user.username}}!</span></li>
                    <li><a href="cuentas/logout" class="sub">Salir</a></li>
                    <li><a href="crear_destinos/" class="sub">Añadir destinos</a></li>
                    <li><a href="administrar_destinos/" class="sub">Administrar destinos</a></li>
                {% else %}
                    <li><a href="http://127.0.0.1:8000/cuentas/register" class="sub">Registrarse</a></li>
                    <li><a href="http://127.0.0.1:8000/cuentas/login" class="sub">Ingresar</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    {% block content %}
    <div id = "destinos" class="dest-container">
        {% for obj in destinos %}
            <div class="destino">
                <h1 class="destino-nombre">{{ obj.nombreCiudad }}</h1>
                
                <div class="img-container">
                    <img src='{{ obj.imagenCiudad }}' alt = '{{ obj.nombreCiudad }}'class="destino-imagen">
                </div>

                <h2 class="destino-descripcion">{{ obj.descripcionCiudad }}</h2>
                <h2>En Oferta: {{ obj.ofertaTour }}</h2>
                <h1 class="destino-costo">Precio: S/{{ obj.precioTour }}</h1>
            </div>
        {% endfor %}
    </div>
    {%endblock%}
    

</body>
</html>