

<!DOCTYPE html>
<html>
<head>
    <title>Lugares Turísticos</title>

</head>
<body>
    

    <header>
       
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/" class="sub">Inicio</a></li>

                {% if user.is_authenticated %}
                    <li class="sub welcome-message">Hello, <span>{{user.first_name}}</span></li>
                    <li><a href="cuentas/logout" class="sub">Salir</a></li>
                {% else %}
                    <li><a href="http://127.0.0.1:8000/cuentas/register" class="sub">Registrarse</a></li>
                    <li><a href="http://127.0.0.1:8000/cuentas/login" class="sub">Ingresar</a></li>
                {% endif %}

                
            </ul>
        </nav>
    </header>
</body>
</html>
