<!DOCTYPE html>
<html>
<head>
    <title>Lugares Turísticos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/" class="sub">Inicio</a></li>

                {% if user.is_authenticated %}
                    <li class="sub welcome-message">¡Bienvenido<span> {{user.username}}!</span></li>
                    <li><a href="http://127.0.0.1:8000/cuentas/logout" class="sub">Salir</a></li>
                {% else %}
                    <li><a href="http://127.0.0.1:8000/cuentas/register" class="sub">Registrarse</a></li>
                    <li><a href="http://127.0.0.1:8000/cuentas/login" class="sub">Ingresar</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>
    
    <h1>Eliminar Destino Turístico</h1>
    <p>¿Estás seguro de que deseas eliminar el siguiente destino turístico?</p>
    <p>Nombre de la ciudad: {{ destino.nombreCiudad }}</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Eliminar">
    </form>
    


</body>
</html>