<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ingresar...</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>

<header>

    <nav>
        <ul >
            <li><a href="http://127.0.0.1:8000/" class="sub">Inicio</a></li>
            <li><a href="http://127.0.0.1:8000/cuentas/register" class="sub">Registrarse</a></li>
        </ul>
    </nav>
</header>

<body>
    <h1>INGRESAR</h1>

    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuario"><br>
        <input type="password" name="password" placeholder="Contraseña"><br>
        <input type="Submit">
        <br><span>¿No tiene una cuenta? </span><a href="http://127.0.0.1:8000/cuentas/register" class="sub">Registese</a>
    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
    </div>
</body>
</html>
